<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button
      routerLink="/"
      class="btn btn-link"
    >Home page</button>
  </div>

  <div class="info">
    <strong>Author of post</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum iste laborum magni ratione. Deleniti distinctio incidunt iste iure libero quasi velit voluptas! Doloribus, enim, tenetur. Dolores earum eveniet placeat quibusdam repellendus. Aliquam asperiores corporis culpa deserunt dolor ducimus illum iste non possimus, qui quia, sequi tempore tenetur. Esse, labore, voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum iste laborum magni ratione. Deleniti distinctio incidunt iste iure libero quasi velit voluptas! Doloribus, enim, tenetur. Dolores earum eveniet placeat quibusdam repellendus. Aliquam asperiores corporis culpa deserunt dolor ducimus illum iste non possimus, qui quia, sequi tempore tenetur. Esse, labore, voluptate.</p>
  </div>
</div>
